.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
play/ir
*.py[cod]
*$py.class

*.log
*.gen.hlo
*.compare.hlo
*.pb
*.csv
*.pdf
**/build/
**/sim*/

gemmini-baseline/chipyard/
amx-baseline/intel-sde/
**/data
